<section id="page_content">
  <h1>Contacting Jeremy</h1>
  <p>
    If you are interested in finding out more about any of the cellos that are in stock,
    or would like to find out more about my repair and restoration workshop, please
    <a href="mailto:jeremymahrer@gmail.com">
    email me at jeremymahrer@gmail.com</a>, or:
  </p>
  <p>
    send a message to my mobile <%= number_to_phone("07982019185", country_code: "44") %>;
  </p>
  <p>
    or, just write to me at: <br>
    <address>
      68 Walnut Tree Close<br>
      Barnes<br>
      SW13 9QP<br>
    </address>
  </p>

</section>