<section id="page_content">
  <h1>Contacting Jeremy</h1>
  <p>
    If you are interested in finding out more about any of the cellos that are in stock,
    or would like to find out more about my repair and restoration workshop, please
    <a href="mailto:jeremymahrer@gmail.com">
    email me at jeremymahrer@gmail.com</a>, or:
  </p>
  <p>
    send a message to my mobile <%= number_to_phone("07982019185", country_code: "44") %>;
  </p>
  <p>
    phone me at home (mobile reception is poor for talking that way) <%= number_to_phone("02082742667", country_code: "44") %>;
  </p>
  <p>
    or, just write to me at: <br>
    <address>
      10 Sutherland House<br>
      Ham Street<br>
      Ham, Richmond<br>
      Surrey, TW10 7HE<br>
    </address>
  </p>

</section>