<section id="page_content">
  <h1>Jeremy Mahrer Cellos</h1>
  <p>Hello</p>
  <p> 
    I am Jeremy Mahrer, and have been lovingly making hand made cellos for 30 years; while listening to  BBC radio R4 and R3. All the wood I use is hand picked over many days in Germany from
    <%= link_to "Stefan Gleissner", "http://www.gleissner-tonewood.de/English/The_Company/the_company.html", target: "_blank", rel: "nofollow" %>. 
    Many of my cellos are played by professionals around the world. I now have a  
    <%= link_to "small stock", sales_path %>
    of finished cellos for sale. As well as making cellos I also run a repair and restoration workshop.
  </p>

  <p>
    <%= image_tag("JeremyWorkingColour.jpg", alt: "Crafting a Cello") %>
  </p>

</section>
